/* media queries */

body {
  background-color: red;
}
body::before {
  content: "mobile size";
}

@media screen and (min-width: 481px) {
  body {
    background-color: orange;
  }
  body::before {
    content: "tablet size";
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: yellow;
  }
  body::before {
    content: "small desktop size";
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-color: green;
  }
  body::before {
    content: "large desktop size";
  }
}
